Repository PolyhedralDev/Terra, pull requests merged in 2021-05, with the labels that each got.

#143 Improve gradle performance significantly
  build.gradle.kts
  buildSrc/src/main/kotlin/com/dfsek/terra/CommonConfig.kt
  buildSrc/src/main/kotlin/com/dfsek/terra/CompilationConfig.kt
  buildSrc/src/main/kotlin/com/dfsek/terra/DependencyConfig.kt
  buildSrc/src/main/kotlin/com/dfsek/terra/DistributionConfig.kt
  common/build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: Platform: All, Status: Accepted, Subsystem: Gradle, Type: Enhancement, Type: Performance

#181 Implement WorldEdit integration for structure exporting on Fabric
  build.gradle.kts
  platforms/fabric/build.gradle.kts
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/block/FabricBlock.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/block/data/FabricDirectional.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/block/data/FabricOrientable.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/block/data/FabricSlab.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/block/data/FabricStairs.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/generation/FabricChunkGeneratorWrapper.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/handle/FabricWorldHandle.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/mixin/implementations/block/BlockEntityMixin.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/mixin/implementations/block/BlockMixin.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/mixin/implementations/entity/EntityMixin.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/util/FabricAdapter.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/util/WorldEditUtil.java
Labels: Platform: Fabric, Status: Accepted, Subsystem: Internal API, Type: Enhancement

#187 Remove dependency on Fabric API
  platforms/fabric/build.gradle.kts
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/TerraFabricPlugin.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/mixin/CommandManagerMixin.java
  platforms/fabric/src/main/resources/fabric.mod.json
  platforms/fabric/src/main/resources/terra.mixins.json
Labels: Platform: Fabric, Status: Accepted, Subsystem: Internal API, Type: Enhancement

#152 Debug enhancements (#149)
  common/src/main/java/com/dfsek/terra/api/TerraPlugin.java
  common/src/main/java/com/dfsek/terra/api/command/TerraCommandManager.java
  common/src/main/java/com/dfsek/terra/api/structures/parser/Parser.java
  common/src/main/java/com/dfsek/terra/api/structures/parser/lang/functions/Function.java
  common/src/main/java/com/dfsek/terra/api/structures/script/StructureScript.java
  common/src/main/java/com/dfsek/terra/config/PluginConfig.java
  common/src/main/resources/config.yml
  platforms/bukkit/src/main/java/com/dfsek/terra/bukkit/TerraBukkitPlugin.java
  platforms/fabric/src/main/java/com/dfsek/terra/fabric/TerraFabricPlugin.java
  platforms/forge/src/main/java/com/dfsek/terra/forge/TerraForgePlugin.java
  platforms/region/src/main/java/com/dfsek/terra/StandalonePlugin.java
  platforms/sponge/src/main/java/com/dfsek/terra/sponge/TerraSpongePlugin.java
Labels: Platform: All, Status: In Progress, Subsystem: Config, Type: Enhancement
